{% extends 'site/layouts/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
  


  <section>
    <section
    class="bg-cover bg-center h-[400px] flex items-center justify-center dark:bg-slate-900"
    style="background-image: url('/static/site/assets/image/space_image2.jpg');"
  >
    <div class="bg-slate-950 bg-opacity-70 py-12 px-14 rounded-3xl border border-slate-900  text-center max-w-4xl w-full">
      <h1 class="text-white font-medium text-2xl md:text-3xl mb-6">
        Find online teachers and home tutors for free
      </h1>
      <div
        class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-4"
      >
        <input
          type="text"
          placeholder="Subject / Skill"
          class="px-3 py-2  w-full md:w-1/2 rounded border border-slate-300 focus:outline-none focus:ring-2 focus:ring-primary"
        />
        <input
          type="text"
          placeholder="Location"
          class="px-3 py-2  w-full md:w-1/2 rounded border border-slate-300 focus:outline-none focus:ring-2 focus:ring-primary"
        />
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded w-full md:w-auto flex items-center justify-center md:justify-start"
        >
        <i class='bx bx-search font-semibold text-xl'></i>
          <span>Search</span>
        </button>
      </div>
    </div>
  </section>
  


    <section class="addmission-main">
      <!-- top-section -->
      <section class="addmission-section">
        <div class="leftDiv">
          <img src="/static/site/assets/image/afadd.jpg" alt="" />
        </div>
        <div class="rightDiv" style="background-image: url('/static/site/assets/image/rightdiv.jpg');">
          <div class="right-div-content">
            <h4 class="text-secondary">Fall 2021 applications are now open</h4>
            <h1>APPLY FOR ADDMISSION</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </section>
    </section>

    <!-- bottom-section -->

    <section class="about-section-bg" style="background-image: url('/static/site/assets/image/sectionbg.jpg');">
      <section class="about-section-ns">
        <section class="lg:flex justify-center items-center gap-16 border-b-2 pb-8">
          <div class="w-full py-5 flex-col justify-center items-center flex">
            <img class="w-96" src="/static/site/assets/image/logo-w.png" alt="" />
            <h1 class="text-3xl text-primary font-black">ABOUT OUR EPATHSALA</h1>
          </div>
          <div class="text-white space-y-5 px-5 lg:px-0">
            <h5 class="text-secondary text-xl font-bold">LEARN SOMETHING NEW, AND GROW YOUR SKILLS</h5>
            <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dignissimos, deleniti adipisci ut inventore commodi iure explicabo excepturi cumque laudantium quis praesentium id nesciunt! Soluta sunt obcaecati aspernatur nostrum ab.

            </p>
            <p>Using our single innovative platform you can remove all your communication dependencies and the messy rat’s nest of email, calls, texts, wikis, and apps you currently have.

            </p>
            <button class="btn-common-rn">Learn More</button>
          </div>
        </section>

        <section class=" grid grid-cols-2 lg:grid-cols-4 justify-center items-center pt-8 lg:pt-20 w-full">

          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl md:text-5xl font-bold text-secondary">223+</h1>
            <p class="uppercase text-base md:text-xl text-white">Courses + Videos</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl md:text-5xl font-bold text-secondary">410+</h1>
            <p class="uppercase text-base md:text-xl text-white">Expert teacher</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl md:text-5xl font-bold text-secondary">2299+</h1>
            <p class="uppercase text-base md:text-xl text-white">total students</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl md:text-5xl font-bold text-secondary">368+</h1>
            <p class="uppercase text-base md:text-xl text-white">Classes Complete</p>
          </div>
        </section>
      </section>
    </section>






  </section>


{% endblock %}



