{% extends 'site/layouts/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
  


  <section>

    <section>
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="slide-item" style="background-image: url('/static/site/assets/image/slide1.jpg');">
                <div class="slide-banner">
                  <div class="banner-content-ns">
                    <h1 class="slide-title">
                      ACCESS 2700+ ONLINE TUTORIALS FROM TOP INSTRUCTORS
                    </h1>
                    <p class="slide-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunta
                    </p>
                    <button class="btn-common-rn">View All Courses</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slide-item" style="background-image: url('/static/site/assets/image/slide2.jpg');">
                <div class="slide-banner">
                  <div class="banner-content-ns">
                    <h1 class="slide-title">
                      FIND THE RIGHT ONLINE COURSES FOR YOU
                    </h1>
                    <p class="slide-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunta
                    </p>
                    <button class="btn-common-rn">Find More</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slide-item" style="background-image: url('/static/site/assets/image/slide3.jpg');">
                <div class="slide-banner">
                  <div class="banner-content-ns">
                    <h1 class="slide-title">
                      EPATHSALA HAS MORE THAN 180 MAJORS & MINORS COURSES
                    </h1>
                    <p class="slide-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunta
                    </p>
                    <button class="btn-common-rn">Find More</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="addmission-main">
      <!-- top-section -->
      <section class="addmission-section">
        <div class="leftDiv">
          <img src="/static/site/assets//image/afadd.jpg" alt="" />
        </div>
        <div class="rightDiv" style="background-image: url('/static/site/assets//image/rightdiv.jpg');">
          <div class="right-div-content">
            <h4 class="text-secondary">Fall 2021 applications are now open</h4>
            <h1>APPLY FOR ADDMISSION</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </section>
    </section>

    <!-- bottom-section -->
    <section class="card-div">
      <div class="card-one">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255)">
          <path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
        </svg>
        <div>
          <h1 class="card-title">University Life</h1>
          <h5 class="card-description">Overall in Here</h5>
        </div>
      </div>
      <div class="card-two">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255)">
          <path d="M21 3h-7a2.98 2.98 0 0 0-2 .78A2.98 2.98 0 0 0 10 3H3a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h5.758c.526 0 1.042.214 1.414.586l1.121 1.121c.009.009.021.012.03.021.086.079.182.149.294.196h.002a.996.996 0 0 0 .762 0h.002c.112-.047.208-.117.294-.196.009-.009.021-.012.03-.021l1.121-1.121A2.015 2.015 0 0 1 15.242 20H21a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.758 18H4V5h6c.552 0 1 .449 1 1v12.689A4.032 4.032 0 0 0 8.758 18zM20 18h-4.758c-.799 0-1.584.246-2.242.689V6c0-.551.448-1 1-1h6v13z"></path>
        </svg>
        <div>
          <h1 class="card-title">Graduation</h1>
          <h5 class="card-description">Getting Diploma</h5>
        </div>
      </div>
      <div class="card-three">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255)">
          <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"></path>
        </svg>
        <div>
          <h1 class="card-title">Best Instructors</h1>
          <h5 class="card-description">Certified Teachers</h5>
        </div>
      </div>
      <div class="card-four">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255)">
          <path d="M6.012 18H21V4a2 2 0 0 0-2-2H6c-1.206 0-3 .799-3 3v14c0 2.201 1.794 3 3 3h15v-2H6.012C5.55 19.988 5 19.805 5 19s.55-.988 1.012-1zM8 6h9v2H8V6z"></path>
        </svg>
        <div>
          <h1 class="card-title">Global Hub</h1>
          <h5 class="card-description">Overall in Here</h5>
        </div>
      </div>
    </section>

    <section class="about-section-bg" style="background-image: url('/static/site/assets/image/sectionbg.jpg');">
      <section class="about-section-ns">
        <section class="lg:flex justify-center items-center gap-16 border-b-2 pb-8">
          <div class="w-full py-5 flex-col justify-center items-center flex">
            <img class="w-96" src="/static/site/assets/image/logo-w.png" alt="" />
            <h1 class="text-3xl text-primary font-black">ABOUT OUR EPATHSALA</h1>
          </div>
          <div class="text-white space-y-5 px-5 lg:px-0">
            <h5 class="text-secondary text-xl font-bold">LEARN SOMETHING NEW, AND GROW YOUR SKILLS</h5>
            <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dignissimos, deleniti adipisci ut inventore commodi iure explicabo excepturi cumque laudantium quis praesentium id nesciunt! Soluta sunt obcaecati aspernatur nostrum ab.

            </p>
            <p>Using our single innovative platform you can remove all your communication dependencies and the messy rat’s nest of email, calls, texts, wikis, and apps you currently have.

            </p>
            <button class="btn-common-rn">Learn More</button>
          </div>
        </section>

        <section class=" grid grid-cols-2 lg:grid-cols-4 justify-center items-center pt-8 lg:pt-20 w-full">

          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl md:text-5xl font-bold text-secondary">223+</h1>
            <p class="uppercase text-base md:text-xl text-white">Courses + Videos</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl md:text-5xl font-bold text-secondary">410+</h1>
            <p class="uppercase text-base md:text-xl text-white">Expert teacher</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl md:text-5xl font-bold text-secondary">2299+</h1>
            <p class="uppercase text-base md:text-xl text-white">total students</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl md:text-5xl font-bold text-secondary">368+</h1>
            <p class="uppercase text-base md:text-xl text-white">Classes Complete</p>
          </div>
        </section>
      </section>
    </section>

    <section class="section-rn">
      <div class="w-full text-center sec-title-div">
        <span class="top-title-rn">Browse Catagories</span>
        <h1 class="sec-title">
          BROWSE ONLINE COURSE <span class="text-primary">Catagories</span>
        </h1>
      </div>

      <section class="cat-card-sec">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-2 lg:gap-5">
          <div class="cata-card">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler stroke-primary icon-tabler-chart-histogram" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 3v18h18" />
              <path d="M20 18v3" />
              <path d="M16 16v5" />
              <path d="M12 13v8" />
              <path d="M8 16v5" />
              <path d="M3 11c6 0 5 -5 9 -5s3 5 9 5" />
            </svg>
            <h1 class="card-title">BUSINESS & MANAGEMENT</h1>
          </div>
          <div class="cata-card">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler stroke-primary icon-tabler-brand-zoom" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M17.011 9.385v5.128l3.989 3.487v-12z" />
              <path d="M3.887 6h10.08c1.468 0 3.033 1.203 3.033 2.803v8.196a.991 .991 0 0 1 -.975 1h-10.373c-1.667 0 -2.652 -1.5 -2.652 -3l.01 -8a.882 .882 0 0 1 .208 -.71a.841 .841 0 0 1 .67 -.287z" />
            </svg>
            <h1 class="card-title">MOVIE FILM MAKING</h1>
          </div>
          <div class="cata-card">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler stroke-primary icon-tabler-tools" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4" />
              <path d="M14.5 5.5l4 4" />
              <path d="M12 8l-5 -5l-4 4l5 5" />
              <path d="M7 8l-1.5 1.5" />
              <path d="M16 12l5 5l-4 4l-5 -5" />
              <path d="M16 17l-1.5 1.5" />
            </svg>
            <h1 class="card-title">SOFTWARE TRAINING</h1>
          </div>
          <div class="cata-card">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler stroke-primary icon-tabler-paint" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
              <path d="M19 6h1a2 2 0 0 1 2 2a5 5 0 0 1 -5 5l-5 0v2" />
              <path d="M10 15m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
            </svg>
            <h1 class="card-title">GRAPHIC & WEB DESIGN</h1>
          </div>
          <div class="cata-card">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler stroke-primary icon-tabler-bulb" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" />
              <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" />
              <path d="M9.7 17l4.6 0" />
            </svg>
            <h1 class="card-title">LOGICAL THINKING</h1>
          </div>
        </div>

      </section>

      <section class="cata-bottom-sec" style="background-image: url('/static/site/assets/image//slide2.jpg');">
        <section class="cata-bottom">
          <div class="cata-bottom-div1">
            <h1 class="text-primary text-base md:text-xl font-bold py-3">UNDERGRADUATE</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
              luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
          </div>
          <div class="cata-bottom-div2">
            <h1 class="text-primary text-base md:text-xl font-bold py-3">GRADUATED & PROFESSIONAL</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
              luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
          </div>
          <div class="cata-bottom-div3">
            <h1 class="text-primary text-base md:text-xl font-bold py-3">SCHOLARSHIP AID</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
              luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
          </div>
        </section>
      </section>
    </section>

    <section class="section-rn">
      <div class="w-full text-center sec-title-div">
        <span class="top-title-rn">Find More Courses</span>
        <h1 class="sec-title">
          ALL COURSES OF <span class="text-primary">EPATHSHALA</span>
        </h1>
      </div>

      <section class="all-course-card-sec">
        <!-- cardone -->
        <div class="all-course-card">
          <img class="w-full" src="/static/site/assets/image/slide1.jpg" alt="" />
          <h1 class="all-course-card-title">
            GROW YOUR BUSINESS BY MASTERED IN SOME TECHNIQUE
          </h1>
          <div class="flex gap-5">
            <p>21 reviews</p>
            <ul class="flex items-center gap-1">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M5.025 20.775A.998.998 0 0 0 6 22a1 1 0 0 0 .555-.168L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107-1.491 6.452zM12 5.429l2.042 4.521.588.047h.001l3.972.315-3.271 2.944-.001.002-.463.416.171.597v.003l1.253 4.385L12 15.798V5.429z"></path>
                </svg>
              </li>
            </ul>
          </div>
          <div class="all-course-card-bottom">
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
              </svg>
              <p>21k+ Students</p>
            </div>
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path>
                <path d="M13 7h-2v6h6v-2h-4z"></path>
              </svg>
              <p>2hr 45minutes</p>
            </div>
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path>
              </svg>
              <p>4.5 reviews</p>
            </div>
          </div>
        </div>
        <!-- cardtwo -->
        <div class="all-course-card">
          <img class="w-full" src="/static/site/assets/image/sectionbg.jpg" alt="" />
          <h1 class="all-course-card-title">
            GROW YOUR BUSINESS BY MASTERED IN SOME TECHNIQUE
          </h1>
          <div class="flex gap-5">
            <p>21 reviews</p>
            <ul class="flex items-center gap-1">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M5.025 20.775A.998.998 0 0 0 6 22a1 1 0 0 0 .555-.168L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107-1.491 6.452zM12 5.429l2.042 4.521.588.047h.001l3.972.315-3.271 2.944-.001.002-.463.416.171.597v.003l1.253 4.385L12 15.798V5.429z"></path>
                </svg>
              </li>
            </ul>
          </div>
          <div class="all-course-card-bottom">
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
              </svg>
              <p>21k+ Students</p>
            </div>
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path>
                <path d="M13 7h-2v6h6v-2h-4z"></path>
              </svg>
              <p>2hr 45minutes</p>
            </div>
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path>
              </svg>
              <p>4.5 reviews</p>
            </div>
          </div>
        </div>
        <!-- cardthree -->
        <div class="all-course-card">
          <img class="w-full" src="/static/site/assets/image/slide3.jpg" alt="" />
          <h1 class="all-course-card-title">
            GROW YOUR BUSINESS BY MASTERED IN SOME TECHNIQUE
          </h1>
          <div class="flex gap-5">
            <p>21 reviews</p>
            <ul class="flex items-center gap-1">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ee8c1c">
                  <path d="M5.025 20.775A.998.998 0 0 0 6 22a1 1 0 0 0 .555-.168L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107-1.491 6.452zM12 5.429l2.042 4.521.588.047h.001l3.972.315-3.271 2.944-.001.002-.463.416.171.597v.003l1.253 4.385L12 15.798V5.429z"></path>
                </svg>
              </li>
            </ul>
          </div>
          <div class="all-course-card-bottom">
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
              </svg>
              <p>21k+ Students</p>
            </div>
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path>
                <path d="M13 7h-2v6h6v-2h-4z"></path>
              </svg>
              <p>2hr 45minutes</p>
            </div>
            <div class="flex justify-center items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #06BBCC;">
                <path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path>
              </svg>
              <p>4.5 reviews</p>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="join-community" style="background-image: url('/static/site/assets/image/rightdiv.jpg');">
      <section class="join-community-sec">
        <div class="lg:w-3/5 text-white space-y-5">
          <h1 class="text-3xl font-bold">JOIN THE COMMUNITY COURSE AND <span class="text-primary">UPGRADE YOUR SKILL</span></h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
            luctus nec ullamcorper mattis, pulvinar dapibus leo. <br /> <br /> Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <button class="btn-common-rn">Join Now</button>
        </div>
        <div class="h-[500px] w-full lg:w-2/5 border-8 border-[#8787877C]">
          <img class="w-full h-full" src="/static/site/assets/image/joincommunity.jpg" alt="" />
        </div>
      </section>
    </section>

    <section class="section-rn">
      <div class="w-full sec-title-div lg:flex justify-between items-center px-5">
        <div>
          <h1 class="sec-title">UPCOMING EVENTS & COMPETITIONS</h1>
          <p>
            Online learning offers a new way to explore subjects you’re passionate
            about.
          </p>
        </div>
        <div>
          <button class="btn-common-rn">Read More</button>
        </div>
      </div>

      <section class="upcoming-event-card-sec">
        <div class="upcoming-event-card-div col-span-2">
          <div class="upcoming-event-card">
            <img class="w-24" src="/static/site/assets/image/event-1.jpg" alt="" />
            <div>
              <h1 class="text-sm font-bold text-base-content">
                THE NEXT GENERATION OF BUSINESS LEADERS
              </h1>
              <p>August 20, 2021.</p>
            </div>
          </div>
          <div class="upcoming-event-card">
            <img class="w-24" src="/static/site/assets/image/afadd.jpg" alt="" />
            <div>
              <h1 class="text-sm font-bold text-base-content">
                THE NEXT GENERATION OF BUSINESS LEADERS
              </h1>
              <p>August 20, 2021.</p>
            </div>
          </div>
          <div class="upcoming-event-card">
            <img class="w-24" src="/static/site/assets/image/slide2.jpg" alt="" />
            <div>
              <h1 class="text-sm font-bold text-base-content">
                THE NEXT GENERATION OF BUSINESS LEADERS
              </h1>
              <p>August 20, 2021.</p>
            </div>
          </div>
          <div class="upcoming-event-card">
            <img class="w-24" src="/static/site/assets/image/sectionbg.jpg" alt="" />
            <div>
              <h1 class="text-sm font-bold text-base-content">
                THE NEXT GENERATION OF BUSINESS LEADERS
              </h1>
              <p>August 20, 2021.</p>
            </div>
          </div>
          <div class="upcoming-event-card">
            <img class="w-24" src="/static/site/assets/image/afadd.jpg" alt="" />
            <div>
              <h1 class="text-sm font-bold text-base-content">
                THE NEXT GENERATION OF BUSINESS LEADERS
              </h1>
              <p>August 20, 2021.</p>
            </div>
          </div>
          <div class="upcoming-event-card">
            <img class="w-24" src="/static/site/assets/image/event-1.jpg" alt="" />
            <div>
              <h1 class="text-sm font-bold text-base-content">
                THE NEXT GENERATION OF BUSINESS LEADERS
              </h1>
              <p>August 20, 2021.</p>
            </div>
          </div>
          <div class="upcoming-event-card">
            <img class="w-24" src="/static/site/assets/image/sectionbg.jpg" alt="" />
            <div>
              <h1 class="text-sm font-bold text-base-content">
                THE NEXT GENERATION OF BUSINESS LEADERS
              </h1>
              <p>August 20, 2021.</p>
            </div>
          </div>
          <div class="upcoming-event-card">
            <img class="w-24" src="/static/site/assets/image/slide3.jpg" alt="" />
            <div>
              <h1 class="text-sm font-bold text-base-content">
                THE NEXT GENERATION OF BUSINESS LEADERS
              </h1>
              <p>August 20, 2021.</p>
            </div>
          </div>
        </div>
        <div class="donation-card-div mt-5 lg:mt-0">
          <div class="w-full all-course-card">
            <img src="/static/site/assets/image/afadd.jpg" alt="" />
            <div class="space-y-3">
              <h1 class="text-xl text-base-content font-bold">Donation Help Us</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </p>
              <button class="btn-common-rn">Become a Doctor</button>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="learnFromExpart" style="background-image: url('/static/site/assets/image/slide2.jpg');">
      <section class="w-full bg-[#181d38de] h-full lg:px-28 px-5 pt-20">
        <div class="w-full text-center learnFormExpart-title-div">
          <span class="lfe-top-title-rn">Browse Catagories</span>
          <h1 class="learnFormExpart-title">
            LEARN FROM EXPERT
            <span class="text-primary">INSTRUCTORS</span>
          </h1>
        </div>



        <section class="learnFromExpart-card-sec">

          <div class="learnFromExpart-card">
            <img class="rounded-md" src="/static/site/assets/image/team-1.jpg" alt="">

            <div class="learnFromExpart-card-content">
              <h1 class="text-xl font-bold">William smith</h1>
              <p class="text-secondary">CEO / Founder</p>
            </div>
          </div>
          <div class="learnFromExpart-card">
            <img class="rounded-md" src="/static/site/assets/image/team-2.jpg" alt="">

            <div class="learnFromExpart-card-content">
              <h1 class="text-xl font-bold">Nicole Kiyl</h1>
              <p class="text-secondary">Project Manager
              </p>
            </div>
          </div>
          <div class="learnFromExpart-card">
            <img class="rounded-md" src="/static/site/assets/image/team-3.jpg" alt="">

            <div class="learnFromExpart-card-content">
              <h1 class="text-xl font-bold">John Melton
              </h1>
              <p class="text-secondary">Instructor</p>
            </div>
          </div>
          <div class="learnFromExpart-card">
            <img class="rounded-md" src="/static/site/assets/image/team-4.jpg" alt="">

            <div class="learnFromExpart-card-content">
              <h1 class="text-xl font-bold">Ketti Helson</h1>
              <p class="text-secondary">Business Analyst</p>
            </div>
          </div>

        </section>
      </section>
    </section>


  </section>


{% endblock %}



