{% extends 'site/layouts/base.html' %}
{% load form_tags %}
{% block title %}Home Page{% endblock %}

{% block content %}
  




<div class="container section-form">
    <form method="post" enctype="multipart/form-data" class="custom-form">
        {% csrf_token %}

      
        <div class="mb-4">
          <label for="{{ form.teacher_type.id_for_label }}" class="custom-form-label">I am</label>
          {{ form.teacher_type }}
        </div>

        
      
      
        <div class="mb-4">
          <label for="{{ form.gender.id_for_label }}" class="custom-form-label">Gender</label>
          {{ form.gender }}
        </div>
      

      
        <div class="mb-4">
          <label for="{{ form.location.id_for_label }}" class="custom-form-label">Location</label>
          {{ form.location }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.postal_code.id_for_label }}" class="custom-form-label">Postal/Zip Code</label>
          {{ form.postal_code }}
        </div>
      

      
        <div class="custom-form my-4">
          <h1 class="text-xl font-bold">Subject You Teach</h1>
          <p>Comma-separated list (e.g., Math, English, Science)</p>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.subjects.id_for_label }}" class="custom-form-label">Subjects</label>
          {{ form.subjects }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.from_level.id_for_label }}" class="custom-form-label">From Level</label>
          {{ form.from_level }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.to_level.id_for_label }}" class="custom-form-label">To Level</label>
          {{ form.to_level }}
        </div>
      
        <div class="custom-form my-4">
          <h1 class="text-xl font-bold">Teaching and Professional Experience:</h1>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.organization.id_for_label }}" class="custom-form-label">Organization Name with City</label>
          {{ form.organization }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.designation.id_for_label }}" class="custom-form-label">Designation</label>
          {{ form.designation }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.experience_start_date.id_for_label }}" class="custom-form-label">Start Date</label>
          {{ form.experience_start_date }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.experience_end_date.id_for_label }}" class="custom-form-label">End Date <span class="text-sm text-primary">leave blank if still working</span></label>
          {{ form.experience_end_date }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.association.id_for_label }}" class="custom-form-label">Association</label>
          {{ form.association }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.job_description.id_for_label }}" class="custom-form-label">Job Description</label>
          {{ form.job_description }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.lesson_plan_details.id_for_label }}" class="custom-form-label">Detailed lessons plan</label>
          {{ form.lesson_plan_details }}
        </div>
      
        <div class="custom-form my-4">
          <h1 class="text-xl font-bold">Teaching Details</h1>
        </div>
      
        <div class="mb-4">
          <label class="custom-form-label">Fee in BDT</label>
          <div class="grid grid-cols-3 gap-4">
            <div>
              <label for="{{ form.fee_type.id_for_label }}" class="custom-form-label">I charge</label>
              {{ form.fee_type }}
            </div>
            <div>
              <label for="{{ form.max_fee.id_for_label }}" class="custom-form-label">Maximum Fee</label>
              {{ form.max_fee }}
            </div>
            <div>
              <label for="{{ form.min_fee.id_for_label }}" class="custom-form-label">Minimum Fee</label>
              {{ form.min_fee }}
            </div>
          </div>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.fee_details.id_for_label }}" class="custom-form-label">Fee Details</label>
          {{ form.fee_details }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.tutor_experience_years.id_for_label }}" class="custom-form-label">Years of Tutor Experience</label>
          {{ form.tutor_experience_years }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.industry_experience_years.id_for_label }}" class="custom-form-label">Years of Industry Experience</label>
          {{ form.industry_experience_years }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.online_teaching_experience_years.id_for_label }}" class="custom-form-label">Years of Online Teaching Experience</label>
          {{ form.online_teaching_experience_years }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.willing_to_travel.id_for_label }}" class="custom-form-label">Are you willing to travel to Student?</label>
          <div class="custom-form-radio-group">
            {{ form.willing_to_travel }}
          </div>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.available_for_online_teaching.id_for_label }}" class="custom-form-label">Available for online Teaching?</label>
          <div class="custom-form-radio-group">
            {{ form.available_for_online_teaching }}
          </div>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.has_digital_pen.id_for_label }}" class="custom-form-label">Do you have a digital pen?</label>
          <div class="custom-form-radio-group">
            {{ form.has_digital_pen }}
          </div>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.helps_with_homework.id_for_label }}" class="custom-form-label">Do you help with homework and assignments?</label>
          <div class="custom-form-radio-group">
            {{ form.helps_with_homework }}
          </div>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.is_full_time_teacher.id_for_label }}" class="custom-form-label">Are you currently a full-time teacher employed by a School/College?</label>
          <div class="custom-form-radio-group">
            {{ form.is_full_time_teacher }}
          </div>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.interested_opportunities.id_for_label }}" class="custom-form-label">Opportunities you are interested in</label>
          {{ form.interested_opportunities }}
        </div>
      
        <div class="custom-form my-4">
          <h1 class="text-4xl font-bold">Education & Certifications</h1>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.institute.id_for_label }}" class="custom-form-label">Institute name with city</label>
          {{ form.institute }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.degree_type.id_for_label }}" class="custom-form-label">Degree Type</label>
          {{ form.degree_type }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.degree_name.id_for_label }}" class="custom-form-label">Degree Name</label>
          {{ form.degree_name }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.education_start_date.id_for_label }}" class="custom-form-label">Start Date</label>
          {{ form.education_start_date }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.education_end_date.id_for_label }}" class="custom-form-label">End Date <span class="text-sm text-primary">leave blank if still studying</span></label>
          {{ form.education_end_date }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.education_association.id_for_label }}" class="custom-form-label">Association</label>
          {{ form.education_association }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.specialities.id_for_label }}" class="custom-form-label">Specialties</label>
          {{ form.specialities }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.score.id_for_label }}" class="custom-form-label">Score <span class="text-sm">Optional</span></label>
          {{ form.score }}
        </div>
      
        <div class="custom-form my-4">
          <h1 class="text-4xl font-bold">Profile Description</h1>
        </div>
      
        <div class="mb-4">
          <h4>This is the most important section for you</h4>
          <p>80% of students will hire you based on what you write here</p>
      
          <label for="{{ form.profile_description.id_for_label }}" class="custom-form-label">Don't share any contact info</label>
          {{ form.profile_description }}
        </div>
      
        <div class="custom-form my-4">
          <h1 class="text-4xl font-bold">Upload ID Proof</h1>
        </div>
      
        <div class="mb-4">
          <label for="{{ form.document_type.id_for_label }}" class="custom-form-label">Document Type</label>
          {{ form.document_type }}
        </div>
      
        <div class="mb-4">
          <label for="{{ form.document_file.id_for_label }}" class="custom-form-label">Upload Document</label>
          {{ form.document_file }}
        </div>
      
        <div class="custom-form my-5">
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </div>
      
      </form>
</div>







{% endblock %}