{% extends 'site/layouts/base.html' %}

{% block title %}Create Application{% endblock %}

{% block content %}
<div class="container section-form">

  <h1 class="text-xl font-bold mb-6">Apply for Job</h1>
  <p> <strong>Subjects:</strong> {{ job.subjects }}</p>
  <p> <strong>Location:</strong> {{ job.location }}</p>
  <p> <strong>Details:</strong> {{ job.details }}</p>
  <br>
  <form method="post">
      {% csrf_token %}
      <label class="custom-form-label">Cover Letter</label>
      <textarea class="custom-form-textarea"  name="cover_letter" rows="5" placeholder="Your cover letter"></textarea>
      <button class="btn btn-primary mt-3" type="submit">Apply</button>
      <!-- cancel button -->
      <a class="btn btn-error ml-3" href="{% url 'job_requirement_detail' job.id %}">Cancel</a>
  </form>
  
</div>

{% endblock %}