.menu-inner-shadow {
    height: 0.5rem;
}

.layout-navbar.navbar-detached {
    width: calc(100% - (1rem * 2));
    margin: 0.55rem auto 0;
    border-radius: 0.375rem;
    padding: 0 1.0rem;
    border: 1px solid rgba(112, 114, 255, 0.71) ;
} 
@media (max-width: 1199.98px) {
    .layout-navbar.navbar-detached {
        width: calc(100vw - (100vw - 100%) - (1rem * 2)) !important;
    }
}
.container-p-y:not([class^=pt-]):not([class*=" pt-"]) {
    padding-top: 0.725rem !important;
}





.form-control {
    padding: 0.375rem 0.675rem;

    border: 1px solid #bcc5cc;
}

.form-label,
.col-form-label {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    /* color: #566a7f; */
}
.input-group-text {
    border: 1px solid #bcc5cc;
}



html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner .menu-item.open>.menu-link,
.layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item.open>.menu-link,
html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):hover,
.layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):hover {
    background-color: rgba(255, 255, 255, .04);
}

.layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner .menu-item .menu-link {
    border-radius: 0.375rem;
}


.menu-sub {
    padding-left: 1.75rem;
}

.layout-navbar {
    height: 50px;
}

.menu-vertical .menu-inner>.menu-item .menu-link {
    margin: 0rem 0.5rem;

}



.menu-vertical .menu-item .menu-link,
.menu-vertical .menu-block {
    padding: 0.625rem 0.75rem;
}

.bg-menu-theme .menu-sub>.menu-item>.menu-link:before {
    left: 0.5rem;
}

.bg-menu-theme .menu-sub>.menu-item.active>.menu-link:not(.menu-toggle):before {
    left: 0.5rem;
}
.bg-menu-theme .menu-inner > .menu-item.open .menu-item.open > .menu-toggle::before, .bg-menu-theme .menu-inner > .menu-item.open .menu-item.active > .menu-link::before {
    box-shadow: 0 0 0 0px #fff;
    left:0.45rem
}

.menu-vertical .menu-sub  .menu-link {
    padding-left: 2rem !important;
}

.app-brand .layout-menu-toggle {
    position: absolute;
    left: 14.25rem;
    border: 2px solid #f5f5f9;
}

.layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner>.menu-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    width: 0.25rem;
    height: 2.5rem;
    border-radius: 0.375rem 0 0 0.375rem;
    display: none;
}

.menu-vertical,
.menu-vertical .menu-block,
.menu-vertical .menu-inner>.menu-item,
.menu-vertical .menu-inner>.menu-header {
    width: 15rem;
}

@media (min-width: 1200px) {

    .layout-menu-fixed:not(.layout-menu-collapsed) .layout-page,
    .layout-menu-fixed-offcanvas:not(.layout-menu-collapsed) .layout-page {
        padding-left: 15rem;

    }
}

.menu-vertical .menu-item .menu-toggle::after {
    right: 1.575rem;
}

.container-p-y {
 padding-left: 1rem;
 padding-right: 1rem;

}

.card {
    background-clip: padding-box; ;
    /* border: 1px solid rgba(67, 89, 113, 0.25); */
    border: 1px solid rgba(112, 114, 255, 0.25);

}
.bg-menu-theme.menu-vertical {
    box-shadow: 0 0.125rem 0.375rem 0 rgba(112, 114, 255, 0.55);
}

.menu-link {
    color: #03152e;
}

.menu-vertical .menu-item .menu-link, .menu-vertical .menu-block {
    padding: 0.5rem 0.75rem;
}