{% extends 'site/layouts/base.html' %}

{% block content %}
<div class="container section-form">
  <div class="text-center">
  <h1 class="text-2xl font-bold mb-10 ">Create Job Requirement</h1>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    {% endif %}

    <div class="form-hr-row">
      <label for="{{ form.location.id_for_label }}" class="form-hr-label">Location</label>
      {{ form.location }}

      {% for error in form.location.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.phone.id_for_label }}" class="form-hr-label">Phone</label>
      {{ form.phone }}
      
      {% for error in form.phone.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.details.id_for_label }}" class="form-hr-label">Details</label>
      {{ form.details }}

      {% for error in form.details.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.subjects.id_for_label }}" class="form-hr-label">Subjects (comma-separated)</label>
      {{ form.subjects }}

      {% for error in form.subjects.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.level.id_for_label }}" class="form-hr-label">Level</label>
      {{ form.level }}

      {% for error in form.level.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.i_want.id_for_label }}" class="form-hr-label">I Want</label>
      {{ form.i_want }}

      {% for error in form.i_want.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.meeting.id_for_label }}" class="form-hr-label">Meeting</label>
      {{ form.meeting }}

      {% for error in form.meeting.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.how_much_travel.id_for_label }}" class="form-hr-label">How Much Travel</label>
      {{ form.how_much_travel }}

      {% for error in form.how_much_travel.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.budget.id_for_label }}" class="form-hr-label">Budget</label>
      {{ form.budget }}

      {% for error in form.budget.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.gender_preference.id_for_label }}" class="form-hr-label">Gender Preference</label>
      {{ form.gender_preference }}

      {% for error in form.gender_preference.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.tutors_wanted.id_for_label }}" class="form-hr-label">Tutors Wanted</label>
      {{ form.tutors_wanted }}

      {% for error in form.tutors_wanted.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.need_someone.id_for_label }}" class="form-hr-label">Need Someone</label>
      {{ form.need_someone }}

      {% for error in form.need_someone.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>


    <div class="form-hr-row">
      <label for="{{ form.communication_language.id_for_label }}" class="form-hr-label">Communication Language</label>
      {{ form.communication_language }}

      {% for error in form.communication_language.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-hr-row">
      <label for="{{ form.uploaded_file.id_for_label }}" class="form-hr-label">Upload File</label>
      {{ form.uploaded_file }}

      {% for error in form.uploaded_file.errors %}
        <p class="error-class">{{ error }}</p>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary w-full my-8">Create</button>
  </form>

</div>
{% endblock %}