<script>
  function showAlert(message, alertType = 'success') {
    console.log(alertType)
    const alertContainer = document.getElementById('alert-container');
    // Create Tailwind alert element
    const alertElement = document.createElement('div');
    
    let alertClasses = {
      'success': ['bg-green-500', 'text-white'],
      'warning': ['bg-yellow-500', 'text-white'],
      'error': ['bg-red-500', 'text-white'],
      'info': ['bg-blue-500', 'text-white']
    }[alertType] || ['bg-gray-500', 'text-white'];

    let baseClasses = [
      'mb-4', 'rounded-lg', 'py-3', 'px-4', 'text-base', 'flex', 'items-center',
      'justify-between', 'alert-box', 'shadow-md', 'animate-fade-in'
    ];

    // Combine and add classes correctly
    [...baseClasses, ...alertClasses].forEach(cls => alertElement.classList.add(cls));

    alertElement.role = 'alert';
    alertElement.innerHTML = `
      <strong class="font-semibold">${message}</strong>
      <button type="button" class="ml-4 text-white hover:text-gray-200 focus:outline-none" onclick="this.parentElement.remove()">
        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
          <path d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
        </svg>
      </button>
    `;
    
    // Append alert to container
    alertContainer.appendChild(alertElement);
    
     //Remove the alert after a few seconds (optional)
    setTimeout(() => {
      alertElement.remove();
    }, 5000); // Remove after 5 seconds
  }

  // showAlert('This is a success message', 'success');
  // showAlert('This is a warning message', 'warning');
  // showAlert('This is an error message', 'danger');


  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
</script>

<style>
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
</style>


{% if user.is_authenticated %}
<script>
  var isAuthenticated = true;
  var userName = "{{ user.username }}";
</script>
{% else %}
<script>
  var isAuthenticated = false;
  var userName = null;
  var userId = null;
</script>
{% endif %}

<!-- Displaying Django messages -->
{% if messages %}
{% for message in messages %}
<script>

  showAlert("{{ message }}", "{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}");
</script>
{% endfor %}
{% endif %}