{% load static %}

<header class="top-nav shadow-md">

  <div class="bg-primary header-top">
    <section class="flex flex-row-reverse lg:flex-row justify-between items-center  text-white contain ">
      <div class="hidden lg:block">
        <p class="text-sm flex justify-center gap-1 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          <span>Dhaka,Bangladesh</span>
        </p>
      </div>
      <div class="hidden lg:block">
        <p class="text-sm">
          Something You love is now on Sale! <a href="#">Buy Now!</a>
        </p>
      </div>
      <div class="flex justify-center items-center">
        <div class="dropdown divider-rn-white">
          <div tabindex="0" role="button" class="btn btn-nm border-0 text-white bg-transparent-rn ">
            <img class=" w-5 p-0" src="/static/site/assets/image/united-states.png" alt="">
            <span class=" dropdwon-title-rn">English</span>
          </div>
          <ul tabindex="0" class="dropdown-content top-dropdown-rn  text-black ">
            <li><a>
                <img class=" w-5 p-0" src="/static/site/assets/image/united-kingdom.png" alt="">
                English</a></li>
            <li><a>
                <img class=" w-5 p-0" src="/static/site/assets/image/germany.png" alt="">
                Germany</a></li>
            <li><a>
                <img class=" w-5 p-0" src="/static/site/assets/image/turkish.png" alt="">
                Turki</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-nm border-0 text-white bg-transparent-rn">
            <span class=" dropdwon-title-rn">USD</span>

          </div>
          <ul tabindex="0" class="dropdown-content top-dropdown-rn !-mt-1 text-black">
            <li><a>AUR</a></li>
            <li><a>EUR</a></li>
            <li><a>CNY</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>


  <header class="main-nav">
    <!-- header main -->
    <section class="flex justify-between items-center gap-8 px-10 py-3 lg:py-6">
      <div class="drawer z-50 w-auto block lg:hidden">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <!-- Page content here -->
          <label for="my-drawer" class="drawer-button hover:cursor-pointer">
            <i class="bx bx-menu bx-rotate-0 bx-none bx-flip-none text-4xl text-base-content"></i>
          </label>
        </div>
        <div class="drawer-side">
          <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay">
          </label>
          <ul class="menu p-0 w-80 min-h-full bg-base-200 text-base-content">
            <!-- Sidebar content here -->
            <h1 class="text-primary text-xl text-center py-4 px-5 shadow-md flex justify-between items-center">
              Menu
              <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </label>
            </h1>
            <div class="join join-vertical w-full">
              <div class="collapse collapse-arrow join-item border border-base-300">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title text-sm font-medium">Home</div>
              </div>
              <div class="collapse collapse-arrow join-item border border-base-300">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title text-sm font-medium">Shop</div>
                <div class="collapse-content">
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Shop Category Slider</li>
                    <li class="dropdown-item-rn">Shop Category Sidebar</li>
                    <li class="dropdown-item-rn">Shop Banner</li>
                    <li class="dropdown-item-rn">Shop Left Sidebar</li>
                    <li class="dropdown-item-rn">Shop List</li>
                    <li class="dropdown-item-rn">Shop Right Sidebar</li>
                    <li class="dropdown-item-rn">Shop Top Filter</li>
                  </ul>
                </div>
              </div>

            </div>
          </ul>
        </div>
      </div>
      <div>
        <a href="/"><img style="width: 250px;" src="/static/site/assets/image/logo/logo.png" alt=""></a>
        
      </div>

      <!-- middle section -->
      <div class="justify-center items-center gap-3 flex-auto hidden lg:flex">
        <!-- menu div -->
        <div class="flex gap-12">
          <!-- home dropdown -->
          <div role="button" class="flex juctify-center items-center">
            <a href="/">Home</a> 
          </div>
          <div role="button" class="flex juctify-center items-center">
            Store
          </div>

          <!-- blog dropdown -->
          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              Find Tutors
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn w-40">
              <li><a href="{% url 'create_job_requirement' %}"  class="hover-underline-animation">Request a tutor</a></li>
              <li><a href="{% url 'all_tutors' %}" class="hover-underline-animation">All Tutors</a></li>
              <li><a class="hover-underline-animation">Online Tutors</a></li>
              <li><a class="hover-underline-animation">Home Tutors</a></li>

            </ul>
          </div>


          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              Find Tutor Jobs
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn w-40">
              <li><a href="{% url 'job_requirement_list' %}" class="hover-underline-animation">All Tutor Jobs</a></li>
              <li><a class="hover-underline-animation">Online Tutor Jobs</a></li>
              <li><a class="hover-underline-animation">Home Tutor Jobs</a></li>
            </ul>
          </div>

          <div role="button" class="flex juctify-center items-center">
            Assignment help
          </div>

        </div>
      </div>

      <!-- right side -->
      <div class="flex justify-between items-center gap-3">
        
        <div class="hidden lg:block divider-rn">
          <a href="{% url 'create_job_requirement' %}" class="btn btn-nm btn-primary rounded-none">Request a tutor</a> 
        </div>
        <div class="">
          <div class="dropdown dropdown-hover rounded-full">
            <!-- show user.name if logged in -->
            {% if user.is_authenticated %}
              <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
                {{ user.name }}
              </div>
            {% else %}
              <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
                Login
              </div>
            {% endif %}

            <ul tabindex="0" class="dropdown-content dropdown-rn -left-28 lg:-left-10 w-40">
              <!-- show profile page link and logout button if logged in -->
              {% if user.is_authenticated %}
                {% if user.teacher %}
                <li class="hover-underline-animation"><a href="{% url 'application_list' %}">My Applications</a></li>
                <li class="hover-underline-animation"><a href="{% url 'teacher_profile'%}">Profile</a></li>
                {% endif %}
                {% if user.student %}
                <li class="hover-underline-animation"><a href="{% url 'list_job_requirements' %}">Job Requirements</a></li>
                {% endif %}
                <li class="hover-underline-animation"><a href="{% url 'signout' %}">Logout</a></li>
              {% else %}
              <li class="hover-underline-animation"><a href="{% url 'login' %}">Login</a></li>
              <li class="hover-underline-animation"><a href="{% url 'signup' %}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- modal-->
    <input type="checkbox" id="my_modal_6" class="modal-toggle" />
    <div class="modal" role="dialog">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Hello!</h3>
        <p class="py-4">This modal works with a hidden checkbox!</p>
        <div class="modal-action">
          <label for="my_modal_6" class="btn">Close!</label>
        </div>
      </div>
    </div>
  </header>


  <!-- mobile menu -->
  <!-- <section class="mobile-menu bg-primary">
    <div class="w-full">
      <ul class="menu menu-horizontal mobile-menu-inner-rn py-1 px-5">
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
            </svg>
            <p class="text-white leading-none text-sm">Home</p>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7"></rect>
              <rect x="14" y="3" width="7" height="7"></rect>
              <rect x="14" y="14" width="7" height="7"></rect>
              <rect x="3" y="14" width="7" height="7"></rect>
            </svg>
            <p class="text-white leading-none text-sm">Category</p>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <p class="text-white leading-none text-sm">Search</p>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
              <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg>
            <p class="text-white leading-none text-sm">WishList</p>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
              <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <path d="M16 10a4 4 0 0 1-8 0"></path>
            </svg>
            <p class="text-white leading-none text-sm">cart</p>
          </a>
        </li>
      </ul>
    </div>
  </section> -->

</header>