<header class="top-nav shadow-md lg:shadow-none">

  <div class="bg-primary header-top">
    <section class="flex flex-row-reverse lg:flex-row justify-between items-center  text-white contain ">
      <div class="hidden lg:block">
        <p class="text-sm flex justify-center gap-1 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          <span> 1418 Riverwood Drive, Ca 96052, US.</span>
        </p>
      </div>
      <div class="hidden lg:block">
        <p class="text-sm">
          Something You love is now on Sale! <a href="#">Buy Now!</a>
        </p>
      </div>
      <div class="flex justify-center items-center">
        <div class="dropdown divider-rn-white">
          <div tabindex="0" role="button" class="btn btn-nm border-0 text-white bg-transparent-rn ">
            <img class=" w-5 p-0" src="/static/site/assets/image/united-states.png" alt="">
            <span class=" dropdwon-title-rn">English</span>
          </div>
          <ul tabindex="0" class="dropdown-content top-dropdown-rn  text-black ">
            <li><a>
                <img class=" w-5 p-0" src="/static/site/assets/image/united-kingdom.png" alt="">
                English</a></li>
            <li><a>
                <img class=" w-5 p-0" src="/static/site/assets/image/germany.png" alt="">
                Germany</a></li>
            <li><a>
                <img class=" w-5 p-0" src="/static/site/assets/image/turkish.png" alt="">
                Turki</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-nm border-0 text-white bg-transparent-rn">
            <span class=" dropdwon-title-rn">USD</span>

          </div>
          <ul tabindex="0" class="dropdown-content top-dropdown-rn !-mt-1 text-black">
            <li><a>AUR</a></li>
            <li><a>EUR</a></li>
            <li><a>CNY</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>


  <header class="main-nav">
    <!-- header main -->
    <section class="flex justify-between items-center gap-8 contain py-3 lg:py-6">
      <div class="drawer z-50 w-auto block lg:hidden">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <!-- Page content here -->
          <label for="my-drawer" class="drawer-button hover:cursor-pointer">
            <i class="bx bx-menu bx-rotate-0 bx-none bx-flip-none text-4xl text-base-content"></i>
          </label>
        </div>
        <div class="drawer-side">
          <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay">
          </label>
          <ul class="menu p-0 w-80 min-h-full bg-base-200 text-base-content">
            <!-- Sidebar content here -->
            <h1 class="text-primary text-xl text-center py-4 px-5 shadow-md flex justify-between items-center">
              Menu
              <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </label>
            </h1>
            <div class="join join-vertical w-full">
              <div class="collapse collapse-arrow join-item border border-base-300">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title text-sm font-medium">Home</div>
                <div class="collapse-content">
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Kartshop</li>
                    <li class="dropdown-item-rn">Sweetshop</li>
                    <li class="dropdown-item-rn">Organic</li>
                    <li class="dropdown-item-rn">Supershop</li>
                    <li class="dropdown-item-rn">Classic shop</li>
                    <li class="dropdown-item-rn">Furniture</li>
                    <li class="dropdown-item-rn">Search Oriented</li>
                    <li class="dropdown-item-rn">Category Focus</li>
                    <li class="dropdown-item-rn">Fashion</li>
                    <li class="dropdown-item-rn">Book</li>
                    <li class="dropdown-item-rn">Digital</li>
                  </ul>
                </div>
              </div>
              <div class="collapse collapse-arrow join-item border border-base-300">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title text-sm font-medium">Shop</div>
                <div class="collapse-content">
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Shop Category Slider</li>
                    <li class="dropdown-item-rn">Shop Category Sidebar</li>
                    <li class="dropdown-item-rn">Shop Banner</li>
                    <li class="dropdown-item-rn">Shop Left Sidebar</li>
                    <li class="dropdown-item-rn">Shop List</li>
                    <li class="dropdown-item-rn">Shop Right Sidebar</li>
                    <li class="dropdown-item-rn">Shop Top Filter</li>
                  </ul>
                </div>
              </div>
              <div class="collapse collapse-arrow join-item border border-base-300">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title text-sm font-medium">Product</div>
                <div class="collapse-content">
                  <p class="text-sm text-black py-2">Product Pages</p>
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Product Thumbnail</li>
                    <li class="dropdown-item-rn">Product Images</li>
                    <li class="dropdown-item-rn">Product Slider</li>
                    <li class="dropdown-item-rn">Product Sticky</li>
                    <li class="dropdown-item-rn">Product Accordion</li>
                    <li class="dropdown-item-rn">Product Ta</li>
                    <li class="dropdown-item-rn">Product Digital</li>
                  </ul>
                  <p class="text-sm text-black py-2">Product Features</p>
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Bundle (Cross Sale)</li>
                    <li class="dropdown-item-rn">Hot Stock Progress New</li>
                    <li class="dropdown-item-rn">SOLD OUT</li>
                    <li class="dropdown-item-rn">Sale Countdown</li>
                  </ul>
                  <p class="text-sm text-black py-2">Product Variants Style</p>
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Variant Rectangle</li>
                    <li class="dropdown-item-rn">Variant Circle New</li>
                    <li class="dropdown-item-rn">Variant Image Swatch</li>
                    <li class="dropdown-item-rn">Variant Colo</li>
                    <li class="dropdown-item-rn">Variant Radio Button</li>
                    <li class="dropdown-item-rn">Variant Dropdown</li>
                  </ul>
                </div>
              </div>
              <div class="collapse collapse-arrow join-item border border-base-300">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title text-sm font-medium">Mega Menu</div>
                <div class="collapse-content">
                  <p class="text-sm text-black py-2">Daily Vegetables</p>
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Beans & Brinjals</li>
                    <li class="dropdown-item-rn">Broccoli & Cauliflower</li>
                    <li class="dropdown-item-rn">Chilies, Garlic</li>
                    <li class="dropdown-item-rn">Vegetables & Salads</li>
                    <li class="dropdown-item-rn">Gourd, Cucumber</li>
                    <li class="dropdown-item-rn">Herbs & Sprouts</li>
                    <li class="dropdown-item-rn">Lettuce & Leafy</li>
                  </ul>
                  <p class="text-sm text-black py-2">Baby Tender</p>
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Beans & Brinjals</li>
                    <li class="dropdown-item-rn">Broccoli & Cauliflower</li>
                    <li class="dropdown-item-rn">Chilies, Garlic</li>
                    <li class="dropdown-item-rn">Vegetables & Salads</li>
                    <li class="dropdown-item-rn">Gourd, Cucumber</li>
                    <li class="dropdown-item-rn">Potatoes & Tomatoes</li>
                    <li class="dropdown-item-rn">Peas & Corn</li>
                  </ul>
                  <p class="text-sm text-black py-2">Exotic Vegetables</p>
                  <ul class="pl-2 space-y-3">
                    <li class="dropdown-item-rn">Asparagus & Artichokes</li>
                    <li class="dropdown-item-rn">Avocados & Peppers</li>
                    <li class="dropdown-item-rn">Broccoli & Zucchini</li>
                    <li class="dropdown-item-rn">Celery, Fennel & Leeks</li>
                    <li class="dropdown-item-rn">Chilies & Lime</li>
                  </ul>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div>
        <h1 class="text-primary text-4xl font-bold">
          Teacher<span class="text-base-content">On<span class="text-primary">.</span></span>
        </h1>
      </div>

      <!-- middle section -->
      <div class="justify-center items-center gap-3 flex-auto hidden lg:flex">
        <!-- menu div -->
        <div class="flex gap-12">
          <!-- home dropdown -->
          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              Home
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn w-52">
              <li class=""><a class="hover-underline-animation">KartShop</a></li>
              <li><a class="hover-underline-animation">SweetShop</a></li>
              <li><a class="hover-underline-animation">Organic</a></li>
              <li><a class="hover-underline-animation">SuperShop</a></li>
              <li><a class="hover-underline-animation">ClassicShop</a></li>
              <li><a class="hover-underline-animation">Furniture</a></li>
            </ul>
          </div>
          <!-- shop dropdown -->
          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              Shop
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn w-52">
              <li>
                <a class="hover-underline-animation">Shop Category slider</a>
              </li>
              <li>
                <a class="hover-underline-animation">Shop Category sidebar</a>
              </li>
              <li><a class="hover-underline-animation">SweetShop</a></li>
              <li><a class="hover-underline-animation">Organic</a></li>
              <li><a class="hover-underline-animation">SuperShop</a></li>
              <li><a class="hover-underline-animation">ClassicShop</a></li>
              <li><a class="hover-underline-animation">Furniture</a></li>
            </ul>
          </div>
          <!-- Product dropdown -->
          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              Product
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn w-[800px]">
              <div class="grid grid-cols-4">
                <div>
                  <span class="text-black text-lg border-b-2 border-b-[#B6E3DB]">Product Pages</span>
                  <ul class="list-inside">
                    <li class="">
                      <a class="hover-underline-animation">Shop Category slider</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Shop Category sidebar</a>
                    </li>
                    <li><a class="hover-underline-animation">SweetShop</a></li>
                    <li><a class="hover-underline-animation">Organic</a></li>
                    <li><a class="hover-underline-animation">SuperShop</a></li>
                    <li><a class="hover-underline-animation">ClassicShop</a></li>
                    <li><a class="hover-underline-animation">Furniture</a></li>
                  </ul>
                </div>
                <div>
                  <span class="text-black text-lg border-b-2 border-b-[#B6E3DB]">Product Pages</span>
                  <ul class="list-inside">
                    <li class="">
                      <a class="hover-underline-animation">Shop Category slider</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Shop Category sidebar</a>
                    </li>
                    <li><a class="hover-underline-animation">SweetShop</a></li>
                    <li><a class="hover-underline-animation">Organic</a></li>
                    <li><a class="hover-underline-animation">SuperShop</a></li>
                    <li><a class="hover-underline-animation">ClassicShop</a></li>
                    <li><a class="hover-underline-animation">Furniture</a></li>
                  </ul>
                </div>
                <div>
                  <span class="text-black text-lg border-b-2 border-b-[#B6E3DB]">Product Pages</span>
                  <ul class="list-inside">
                    <li class="">
                      <a class="hover-underline-animation">Shop Category slider</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Shop Category sidebar</a>
                    </li>
                    <li><a class="hover-underline-animation">SweetShop</a></li>
                    <li><a class="hover-underline-animation">Organic</a></li>
                    <li><a class="hover-underline-animation">SuperShop</a></li>
                    <li><a class="hover-underline-animation">ClassicShop</a></li>
                    <li><a class="hover-underline-animation">Furniture</a></li>
                  </ul>
                </div>
                <div>
                  <img src="/static/site/assets/image/mega-menu.png" alt="" class="w-full" />
                </div>
              </div>
            </ul>
          </div>
          <!-- Mega menu -->
          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              Mega Menu
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn mega-dropdwon-rn w-[900px]">
              <div class="grid grid-cols-4 w-full">
                <div>
                  <span class="text-black text-lg border-b-2 border-b-[#B6E3DB]">Daily vegetable</span>
                  <ul class="list-inside">
                    <li class="">
                      <a class="hover-underline-animation">Beans & Brinjals</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Broccoli & Cauliflower</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Chilies, Garlic</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Vegetables & Salads</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Gourd, Cucumber</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Herbs & Sprouts</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Lettuce & Leafy</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <span class="text-black text-lg border-b-2 border-b-[#B6E3DB]">Baby Tinder</span>
                  <ul class="list-inside">
                    <li class="">
                      <a class="hover-underline-animation">Beans & Brinjals</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Broccoli & Cauliflower</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Chilies, Garlic</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Vegetables & Salads</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Gourd, Cucumber</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Herbs & Sprouts</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Lettuce & Leafy</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <span class="text-black text-lg border-b-2 border-b-[#B6E3DB]">Exotic vegetable</span>
                  <ul class="list-inside">
                    <li class="">
                      <a class="hover-underline-animation">Shop Category slider</a>
                    </li>
                    <li>
                      <a class="hover-underline-animation">Shop Category sidebar</a>
                    </li>
                    <li><a class="hover-underline-animation">SweetShop</a></li>
                    <li><a class="hover-underline-animation">Organic</a></li>
                    <li><a class="hover-underline-animation">SuperShop</a></li>
                    <li><a class="hover-underline-animation">ClassicShop</a></li>
                    <li><a class="hover-underline-animation">Furniture</a></li>
                  </ul>
                </div>
                <div></div>
              </div>
            </ul>
          </div>
          <!-- blog dropdown -->
          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              BLog
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn w-40">
              <li><a class="hover-underline-animation">Blog Details</a></li>
              <li><a class="hover-underline-animation">Blog Grid</a></li>
              <li><a class="hover-underline-animation">Blog List</a></li>
            </ul>
          </div>
          <!-- pages dropdown -->
          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              Pages
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn w-52">
              <li><a class="hover-underline-animation">Email template </a></li>
              <li><a class="hover-underline-animation">Invoice template</a></li>
              <li><a class="hover-underline-animation">About us</a></li>
              <li><a class="hover-underline-animation">404</a></li>
              <li><a class="hover-underline-animation">Contact</a></li>
              <li><a class="hover-underline-animation">Cart</a></li>
            </ul>
          </div>
          <!-- seller dropdown -->
          <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="flex juctify-center items-center dropdwon-title-rn">
              Seller
            </div>
            <ul tabindex="0" class="dropdown-content main-dropdown-rn dropdown-header-rn w-52">
              <li><a class="hover-underline-animation">Become a Seller</a></li>
              <li><a class="hover-underline-animation">Seller Dashboard</a></li>
              <li><a class="hover-underline-animation">Seller Details</a></li>
              <li><a class="hover-underline-animation">Seller Grid</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- right side -->
      <div class="flex justify-between items-center gap-3">
        <div class="hidden lg:block divider-rn">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
          </svg>
        </div>
        <div class="hidden lg:block divider-rn">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 17h-11v-14h-2" />
            <path d="M6 5l14 1l-1 7h-13" />
          </svg>
        </div>
        <div class="">
          <div class="dropdown dropdown-hover rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
            <ul tabindex="0" class="dropdown-content dropdown-rn -left-28 lg:-left-10 w-40">
              <li class="hover-underline-animation"><a>Login</a></li>
              <li class="hover-underline-animation"><a>Register</a></li>
              <li class="hover-underline-animation"><a>Forgot password</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- modal-->
    <input type="checkbox" id="my_modal_6" class="modal-toggle" />
    <div class="modal" role="dialog">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Hello!</h3>
        <p class="py-4">This modal works with a hidden checkbox!</p>
        <div class="modal-action">
          <label for="my_modal_6" class="btn">Close!</label>
        </div>
      </div>
    </div>
  </header>


  <!-- mobile menu -->
  <section class="mobile-menu bg-primary">
    <div class="w-full">
      <ul class="menu menu-horizontal mobile-menu-inner-rn py-1 px-5">
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
            </svg>
            <p class="text-white leading-none text-sm">Home</p>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7"></rect>
              <rect x="14" y="3" width="7" height="7"></rect>
              <rect x="14" y="14" width="7" height="7"></rect>
              <rect x="3" y="14" width="7" height="7"></rect>
            </svg>
            <p class="text-white leading-none text-sm">Category</p>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <p class="text-white leading-none text-sm">Search</p>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
              <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg>
            <p class="text-white leading-none text-sm">WishList</p>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
              <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <path d="M16 10a4 4 0 0 1-8 0"></path>
            </svg>
            <p class="text-white leading-none text-sm">cart</p>
          </a>
        </li>
      </ul>
    </div>
  </section>

</header>